<!DOCTYPE html>
<html lang="en">

	<head>
		<title> bubble sorter </title>
		<!-- Meta Tags -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--scripts-->
		<script
			type="text/javascript"
			src="node_modules/angular/angular.js">
		</script>
		<!-- Stylesheets -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<body ng-app="weiss_Schwarz_Db" ng-controller="MainCtrl">
		<header> <!--Header -->
			<h1 id="mainHeader"> Webslinger Projects </h1>
		</header>
		<div>
			{{test}}
		</div>
	<div class="container" ng-controller="menuController as menu">
		<div class="span3">
	  		<div class="well sidebar-nav">
	    			<ul class="nav nav-list" >
  					<li class="nav-header">menu</li>
	        			<li ng-class="{ active: menu.isSelected(1) }"><a href ng-click="menu.selectTab(1)">Home</a></li>
					<li ng-class="{ active: menu.isSelected(2) }"><a href ng-click="menu.selectTab(2)">Average Calculator</a></li>
					<li ng-class="{ active: menu.isSelected(3) }"><a href ng-click="menu.selectTab(3)">Bubble Sorter</a></li>
	     			</ul>
	  		</div><!--/.well -->
		</div><!--/span-->

		<div class="span9">
			<section id="home_Section" ng-show="menu.isSelected(1)">
				<h1> Welcome WebSlingers!!!</h1>
				<p>This site is made to post a few small projects for my Webslinget page.</p>
			</section>
			<section id="average_Section" ng-show="menu.isSelected(2)">
				<form>
			   <input type=button onclick="myFunction2()" value="Average"/>
			  </form>
			<div style="width:350px;">
			  <div id="box" style="border:1px solid black;width:150px;height:150px;overflow:auto;display:inline-block;">
			      <p>Your scores!!!</p>
			  </div>

			  <div id="box1" style="border:1px solid black;width:150px;height:150px;overflow:auto;float:right;display: inline-block;">
			    <p>Your average out of 55!!!</p>
			  </div>
			</div>
			</section>
			<section id="sort_Section" ng-show="menu.isSelected(3)"></section>
		</div><!--/span 9-->
	</div><!--/container-->

		<!-- JavaScript -->
		<script
        		src="https://code.jquery.com/jquery.js"
        		integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
        		crossorigin="anonymous">
    		</script>
		<script
			type="text/javascript"
			src="public/scripts/app.js">
		</script>
    		<script
			type="text/javascript"
			src="public/scripts/blbl_Sort.js">
		</script>
		<script
			src="bootstrap/js/bootstrap.min.js">
		</script>
		<script
			type="text/javascript"
		 	src="public/scripts/average calculator.js">
		</script>
	</body>

</html>
<!--ng-repeat="project in catalog.products"-->
